Repository LexLattice/tf-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lexlattice, @spec-guardian, @ci-sheriff

.github/CODEOWNERS:

* @lexlattice @spec-guardian @ci-sheriff
packages/tf-l0-spec/** @spec-guardian
schemas/** @spec-guardian
packages/tf-l0-check/** @spec-guardian
.github/** @ci-sheriff

feat: emit SMT obligations for laws
  docs/l0-proofs.md
  packages/tf-l0-proofs/src/smt-laws.mjs
  scripts/emit-smt-laws.mjs
  tests/smt-laws.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add SMT law emitter and CLI
  docs/l0-proofs.md
  packages/tf-l0-proofs/src/smt-laws.mjs
  scripts/emit-smt-laws.mjs
  tests/smt-laws.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add trace schema, file writer, and validator
  README.md
  packages/tf-l0-codegen-ts/src/runtime/run-ir.mjs
  schemas/trace.v0.4.schema.json
  scripts/validate-trace.mjs
  tests/trace-schema.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add trace schema, validator, and runtime writer
  README.md
  packages/tf-l0-codegen-ts/src/runtime/run-ir.mjs
  schemas/trace.v0.4.schema.json
  scripts/validate-trace.mjs
  tests/trace-schema.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add trace schema, file writer, and validator CLI
  README.md
  packages/tf-l0-codegen-ts/src/runtime/run-ir.mjs
  schemas/trace.v0.4.schema.json
  scripts/validate-trace.mjs
  tests/trace-schema.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add trace schema, writer, and validator
  README.md
  packages/tf-l0-codegen-ts/src/runtime/run-ir.mjs
  schemas/trace.v0.4.schema.json
  scripts/validate-trace.mjs
  tests/trace-schema.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: generate deterministic rust pipeline scaffolds
  README.md
  package.json
  packages/tf-l0-codegen-rs/src/lib.rs
  scripts/generate-rs.mjs
  tests/codegen-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: add Rust pipeline codegen scaffolding (#210)
  README.md
  package.json
  packages/tf-l0-codegen-rs/Cargo.toml
  packages/tf-l0-codegen-rs/src/generate.rs
  packages/tf-l0-codegen-rs/src/lib.rs
  scripts/generate-rs.mjs
  tests/codegen-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Expand SMT law obligations
  docs/l0-proofs.md
  package.json
  packages/tf-l0-proofs/src/smt-laws.mjs
  scripts/emit-smt-laws.mjs
  tests/smt-laws.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add SMT law obligations emitter (#215)
  docs/l0-proofs.md
  package.json
  packages/tf-l0-proofs/src/smt-laws.mjs
  scripts/emit-smt-laws.mjs
  tests/smt-laws.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Improve trace writer robustness and tests
  .github/workflows/ci.yml
  README.md
  package.json
  packages/tf-l0-codegen-ts/src/runtime/run-ir.mjs
  scripts/validate-trace.mjs
  tests/trace-schema.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add trace schema, writer, and validator CLI (#219)
  .github/workflows/ci.yml
  README.md
  package.json
  packages/tf-l0-codegen-ts/src/runtime/run-ir.mjs
  schemas/trace.v0.4.schema.json
  scripts/validate-trace.mjs
  tests/trace-schema.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

ci tweaks
  .github/workflows/ci.yml
  .github/workflows/tf-l0-a0-a1.yml
  scripts/validate-trace.mjs
  services/claims-api-ts/Dockerfile
  tests/fixtures/caps-observability.json
  tests/fixtures/trace-sample.jsonl
Owners: @ci-sheriff, @lexlattice, @spec-guardian

chore(ci): add local GitHub Actions runner via act (+ scripts, samples, VS Code tasks)
  .act/inputs.json
  .act/pr.json
  .actrc
  .github/.secrets.example
  .github/.vars.example
  .github/workflows/briefs.yml
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  .github/workflows/disabled/scripts_hygiene.yml
  .github/workflows/disabled/t1-oracles.yml
  .github/workflows/l0-proofs.yml
  .github/workflows/reusable-tf-check.yml
  .github/workflows/t2-runtime.yml
  .github/workflows/t3-oracles.yml
  .github/workflows/t3-trace-and-perf.yml
  .github/workflows/t4-plan-scaffold-compare.yml
  .github/workflows/tf-l0-a0-a1.yml
  .gitignore
  .vscode/tasks.json
  AGENTS.md
  docs/ci/local-actions.md
  scripts/ci/local.sh
  tests/fixtures/trace-sample.jsonl
Owners: @lexlattice, @spec-guardian, @ci-sheriff

fix: make act workflows match CI setup
  .github/workflows/l0-proofs.yml
  .github/workflows/tf-l0-a0-a1.yml
  packages/oracles/core/package.json
  packages/utils/package.json
Owners: @ci-sheriff, @lexlattice, @spec-guardian

ci: install ripgrep before l0 tests
  .github/workflows/tf-l0-a0-a1.yml
Owners: @ci-sheriff

fix: align trace tool tests with new sample schema
  packages/tf-l0-tools/trace-filter.mjs
  tests/trace-filter.test.mjs
  tests/trace-schema.test.mjs
  tests/trace-summary.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

ci tweaks
  docs/ci/local-actions.md
  scripts/ci/local.sh
Owners: @lexlattice, @spec-guardian, @ci-sheriff

ci tweak
  package.json
  scripts/generate-rs.mjs
  tests/codegen-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(ci): add local GitHub Actions runner via act (#222)
  .act/inputs.json
  .act/pr.json
  .actrc
  .github/.secrets.example
  .github/.vars.example
  .github/workflows/briefs.yml
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  .github/workflows/disabled/scripts_hygiene.yml
  .github/workflows/disabled/t1-oracles.yml
  .github/workflows/l0-proofs.yml
  .github/workflows/reusable-tf-check.yml
  .github/workflows/t2-runtime.yml
  .github/workflows/t3-oracles.yml
  .github/workflows/t3-trace-and-perf.yml
  .github/workflows/t4-plan-scaffold-compare.yml
  .github/workflows/tf-l0-a0-a1.yml
  .gitignore
  .vscode/tasks.json
  AGENTS.md
  docs/ci/local-actions.md
  package.json
  packages/oracles/core/package.json
  packages/tf-l0-tools/trace-filter.mjs
  packages/utils/package.json
  scripts/ci/local.sh
  scripts/generate-rs.mjs
  tests/codegen-rs.test.mjs
  tests/fixtures/trace-sample.jsonl
  tests/trace-filter.test.mjs
  tests/trace-schema.test.mjs
  tests/trace-summary.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add L0 type system helpers and demo CLI
  packages/tf-l0-spec/spec/signatures.demo.json
  packages/tf-l0-types/README.md
  packages/tf-l0-types/package.json
  packages/tf-l0-types/src/types.mjs
  scripts/types-demo.mjs
  tests/types-unify.test.mjs
Owners: @spec-guardian, @lexlattice, @ci-sheriff

Add L0 type vocabulary and demo CLI
  packages/tf-l0-spec/spec/signatures.demo.json
  packages/tf-l0-types/README.md
  packages/tf-l0-types/package.json
  packages/tf-l0-types/src/types.mjs
  scripts/types-demo.mjs
  tests/types-unify.test.mjs
Owners: @spec-guardian, @lexlattice, @ci-sheriff

Add l0 type system with unifier and demo
  packages/tf-l0-spec/spec/signatures.demo.json
  packages/tf-l0-types/README.md
  packages/tf-l0-types/package.json
  packages/tf-l0-types/src/types.mjs
  scripts/types-demo.mjs
  tests/types-unify.test.mjs
Owners: @spec-guardian, @lexlattice, @ci-sheriff

Add type vocabulary, unifier, and demo CLI
  packages/tf-l0-spec/spec/signatures.demo.json
  packages/tf-l0-types/README.md
  packages/tf-l0-types/package.json
  packages/tf-l0-types/src/types.mjs
  scripts/types-demo.mjs
  tests/types-unify.test.mjs
Owners: @spec-guardian, @lexlattice, @ci-sheriff

feat: formalize l0 effect lattice
  docs/l0-effects-lattice.md
  packages/tf-l0-check/src/check.mjs
  packages/tf-l0-check/src/effect-lattice.mjs
  scripts/lattice-report.mjs
  tests/effect-lattice.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add effect lattice helpers and reporting
  docs/l0-effects-lattice.md
  out/0.4/check/lattice-report.json
  packages/tf-l0-check/src/check.mjs
  packages/tf-l0-check/src/effect-lattice.mjs
  scripts/lattice-report.mjs
  tests/effect-lattice.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add effect lattice helpers and tests
  docs/l0-effects-lattice.md
  packages/tf-l0-check/src/check.mjs
  packages/tf-l0-check/src/effect-lattice.mjs
  scripts/lattice-report.mjs
  tests/effect-lattice.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add effect lattice helpers and reporting
  docs/l0-effects-lattice.md
  packages/tf-l0-check/src/check.mjs
  packages/tf-l0-check/src/effect-lattice.mjs
  scripts/lattice-report.mjs
  tests/effect-lattice.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Harden canonical type codec and demo determinism
  package.json
  packages/tf-l0-types/src/types.mjs
  pnpm-lock.yaml
  scripts/types-demo.mjs
  tests/types-unify.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Refine effect lattice helpers and reporting
  docs/l0-effects-lattice.md
  package.json
  packages/tf-l0-check/src/check.mjs
  packages/tf-l0-check/src/effect-lattice.mjs
  scripts/lattice-report.mjs
  tests/effect-lattice.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add type vocabulary, unifier, and demo CLI (#226)
  package.json
  packages/tf-l0-spec/spec/signatures.demo.json
  packages/tf-l0-types/README.md
  packages/tf-l0-types/package.json
  packages/tf-l0-types/src/types.mjs
  pnpm-lock.yaml
  scripts/types-demo.mjs
  tests/types-unify.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Formalize effect lattice helpers for L0 checker (#227)
  docs/l0-effects-lattice.md
  package.json
  packages/tf-l0-check/src/check.mjs
  packages/tf-l0-check/src/effect-lattice.mjs
  scripts/lattice-report.mjs
  tests/effect-lattice.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add SMT property emitters and CLI script
  examples/flows/obs_pure_EP.tf
  examples/flows/obs_pure_PE.tf
  packages/tf-l0-proofs/src/smt-props.mjs
  scripts/emit-smt-props.mjs
  tests/smt-props.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add SMT property emitters for parallel safety and commutation
  examples/flows/obs_pure_EP.tf
  examples/flows/obs_pure_PE.tf
  packages/tf-l0-proofs/src/smt-props.mjs
  scripts/emit-smt-props.mjs
  tests/smt-props.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add SMT property emitters and tests
  packages/tf-l0-proofs/src/smt-props.mjs
  scripts/emit-smt-props.mjs
  tests/smt-props.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add SMT property emitters for par safety and commutation
  packages/tf-l0-proofs/src/smt-props.mjs
  scripts/emit-smt-props.mjs
  tests/smt-props.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add local commutation normalization pass
  docs/l0-effects-lattice.md
  packages/tf-l0-check/src/effect-lattice.mjs
  packages/tf-l0-ir/src/normalize-commute.mjs
  packages/tf-l0-ir/src/normalize.mjs
  scripts/normalize-commute.mjs
  tests/effect-lattice.test.mjs
  tests/normalize-commute.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: add local effect-guided commutation
  docs/l0-effects-lattice.md
  packages/tf-l0-check/src/effect-lattice.mjs
  packages/tf-l0-ir/src/normalize-commute.mjs
  packages/tf-l0-ir/src/normalize.mjs
  scripts/normalize-commute.mjs
  tests/effect-lattice.test.mjs
  tests/normalize-commute.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add local commutation normalization pass
  docs/l0-effects-lattice.md
  packages/tf-l0-check/src/effect-lattice.mjs
  packages/tf-l0-ir/src/normalize-commute.mjs
  packages/tf-l0-ir/src/normalize.mjs
  scripts/normalize-commute.mjs
  tests/codegen-rs.test.mjs
  tests/effect-lattice.test.mjs
  tests/normalize-commute.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add effect-based commutation pass and helper tools
  docs/l0-effects-lattice.md
  packages/tf-l0-check/src/effect-lattice.mjs
  packages/tf-l0-ir/src/normalize-commute.mjs
  packages/tf-l0-ir/src/normalize.mjs
  scripts/normalize-commute.mjs
  tests/effect-lattice.test.mjs
  tests/normalize-commute.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff
