Repository LexLattice/tf-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lexlattice, @spec-guardian, @ci-sheriff

.github/CODEOWNERS:

* @lexlattice @spec-guardian @ci-sheriff
packages/tf-l0-spec/** @spec-guardian
schemas/** @spec-guardian
packages/tf-l0-check/** @spec-guardian
.github/** @ci-sheriff

chore(A1-LSP-Proto/cp3_hover): green
  clients/vscode-tf/dist/extension.d.ts
  clients/vscode-tf/dist/extension.js
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/dist/server.d.ts
  packages/tf-lsp-server/dist/server.js
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/src/parser-types.d.ts
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A1-LSP-Proto/cp1_baseline): green
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/dist/server.js
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/scripts/remove-silent.mjs
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

rulebook update
  AGENTS.md
  samples/a1/illegal_write.tf
  samples/a1/protected_write.tf
  samples/a1/syntax_error.tf
  tf/blocks/A1-LSP-Proto/rulebook.yml
  tools/tf-lsp-sample/catalog-loader.mjs
  tools/tf-lsp-sample/code-action-check.mjs
  tools/tf-lsp-sample/diag-check.mjs
  tools/tf-lsp-sample/hover-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A1-LSP-Proto/cp3_hover): green
  packages/tf-lsp-server/bin/server.mjs
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/tsconfig.json
  samples/a1/illegal_write.tf
  samples/a1/protected_write.tf
  samples/a1/syntax_error.tf
  tools/tf-lsp-sample/diag-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A1-LSP-Proto/cp4_code_actions): green
  packages/tf-lsp-server/bin/server.mjs
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/tsconfig.json
  samples/a1/illegal_write.tf
  samples/a1/protected_write.tf
  samples/a1/syntax_error.tf
  tools/tf-lsp-sample/catalog-loader.mjs
  tools/tf-lsp-sample/code-action-check.mjs
  tools/tf-lsp-sample/diag-check.mjs
  tools/tf-lsp-sample/hover-check.mjs
  tools/tf-lsp-sample/lsp-client.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A1-LSP-Proto/cp3_hover): green
  packages/tf-lsp-server/bin/server.mjs
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/tsconfig.json
  samples/a1/illegal_write.tf
  samples/a1/protected_write.tf
  samples/a1/syntax_error.tf
Owners: @lexlattice, @spec-guardian, @ci-sheriff

update rulebook
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  .github/workflows/l0-audit.yml
  .github/workflows/l0-docs.yml
  .github/workflows/l0-proofs.yml
  .github/workflows/l0-runtime-verify.yml
  .github/workflows/t2-runtime.yml
  .github/workflows/t3-oracles.yml
  .github/workflows/t3-trace-and-perf.yml
  .github/workflows/tf-l0-a0-a1.yml
  meta/checker.yml
  packages/tf-lsp-server/bin/server.mjs
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/src/actions/wrap-authorize.mjs
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/tsconfig.json
  samples/a1/illegal_write.tf
  samples/a1/protected_write.tf
  samples/a1/syntax_error.tf
  tools/tf-lang-cli/index.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

rulebook tweak
  AGENTS.md
  meta/checker.yml
  scripts/lsp-smoke/stdio.mjs
  tf/blocks/A1-LSP-Proto/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

contract(A1): add banned_tokens_hard; cp1 lockfile carve-out; freeze from cp2
  meta/checker.yml
  tf/blocks/A1-LSP-Proto/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(ci): disable frozen installs when frozen=false
  .github/actions/setup-pnpm/action.yml
Owners: @ci-sheriff

chore(types): include mjs declarations for LSP
  packages/tf-compose/src/parser.d.mts
  packages/tf-l0-check/src/check.d.mts
  packages/tf-l0-check/src/regions.d.mts
  packages/tf-lsp-server/src/actions/wrap-authorize.d.mts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

ci(t4-plan): use setup-pnpm composite
  .github/workflows/t4-plan-scaffold-compare.yml
Owners: @ci-sheriff

meta: contract(A1) (#293)
  .github/actions/setup-pnpm/action.yml
  .github/workflows/t4-plan-scaffold-compare.yml
  meta/checker.yml
  packages/tf-compose/src/parser.d.mts
  packages/tf-l0-check/src/check.d.mts
  packages/tf-l0-check/src/regions.d.mts
  packages/tf-lsp-server/src/actions/wrap-authorize.d.mts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/tsconfig.json
  tf/blocks/A1-LSP-Proto/rulebook.yml
Owners: @ci-sheriff, @lexlattice, @spec-guardian

chore(checker): support allow/forbid filters
  tf/blocks/A1-LSP-Proto/rulebook.yml
  tools/tf-checker/scan-diff.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A1-LSP-Proto/cp4_code_actions): green
  packages/tf-lsp-server/src/actions/index.d.ts
  packages/tf-lsp-server/src/actions/wrap-authorize.mjs
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/src/types/check.d.ts
  packages/tf-lsp-server/src/types/parser.d.ts
  packages/tf-lsp-server/src/types/regions.d.ts
  packages/tf-lsp-server/src/types/wrap-authorize.d.ts
  packages/tf-lsp-server/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(lockfile): add tf-lsp-server dependencies
  pnpm-lock.yaml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:A1-LSP-Proto cp:cp4_code_actions (#294)
  packages/tf-lsp-server/src/actions/index.d.ts
  packages/tf-lsp-server/src/actions/wrap-authorize.mjs
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/src/types/check.d.ts
  packages/tf-lsp-server/src/types/parser.d.ts
  packages/tf-lsp-server/src/types/regions.d.ts
  packages/tf-lsp-server/src/types/wrap-authorize.d.ts
  packages/tf-lsp-server/tsconfig.json
  pnpm-lock.yaml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A2-VSCode-Client/cp1_scaffold): green
  clients/vscode-tf/README.md
  clients/vscode-tf/language-configuration.json
  clients/vscode-tf/package.json
  clients/vscode-tf/pnpm-lock.yaml
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A2-VSCode-Client/cp1_scaffold): green
  clients/vscode-tf/dist/extension.js
  clients/vscode-tf/dist/extension.js.map
  clients/vscode-tf/language-configuration.json
  clients/vscode-tf/package.json
  clients/vscode-tf/pnpm-lock.yaml
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A3-SourceMaps/cp2_client_command): green
  clients/vscode-tf/dist/extension.d.ts
  clients/vscode-tf/dist/extension.js
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/src/shims-languageclient.d.ts
  clients/vscode-tf/src/shims-node.d.ts
  clients/vscode-tf/src/shims-vscode.d.ts
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/src/server.ts
  tools/vscode-smoke/command-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat(A3-SourceMaps): add source map tooling
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/src/shims-vscode.d.ts
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/src/server.ts
  tools/vscode-smoke/command-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A3-SourceMaps/cp2_client_command): green
  clients/vscode-tf/.gitignore
  clients/vscode-tf/dist/extension.js
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/src/server.ts
  tools/vscode-smoke/command-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A3-SourceMaps/cp2_client_command): green
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/src/vscode-shim.d.ts
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/src/server.ts
  tools/vscode-smoke/command-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A2-VSCode-Client/no-binary): cleanup packaged assets
  clients/vscode-tf/.gitignore
  clients/vscode-tf/.vscodeignore
  clients/vscode-tf/CHECKSUMS.sha256
  clients/vscode-tf/README.md
  clients/vscode-tf/language-configuration.json
  clients/vscode-tf/package.json
  clients/vscode-tf/regenerate_assets.sh
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
  tools/vscode-smoke/package-extension.mjs
  tools/vscode-smoke/run-stdio.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A3-SourceMaps/cp2_client_command): green
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/tsconfig.json
  meta/checker.yml
  packages/tf-lsp-server/src/server.ts
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:A3-SourceMaps cp:cp2_client_command (#298)
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/src/shims-vscode.d.ts
  clients/vscode-tf/tsconfig.json
  meta/checker.yml
  packages/tf-lsp-server/src/server.ts
  tools/vscode-smoke/command-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

meta(hygiene): forbid clients/vscode-tf/dist/** in staged diffs; docs note
  AGENTS.md
  meta/checker.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A2-VSCode-Client/cp1_scaffold): green (#295)
  clients/vscode-tf/README.md
  clients/vscode-tf/language-configuration.json
  clients/vscode-tf/package.json
  clients/vscode-tf/pnpm-lock.yaml
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A4-DSL-Ergonomics/cp1_syntax): green
  meta/checker.yml
  packages/tf-compose/src/format.mjs
  packages/tf-compose/src/parser.mjs
  packages/tf-compose/src/tests/let-include.test.mjs
  samples/a4/let_basic.tf
  samples/a4/lib/common.tf
  tf/blocks/A4-DSL-Ergonomics/TF.yaml
  tf/blocks/A4-DSL-Ergonomics/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A4-DSL-Ergonomics/cp2_scoping): green
  packages/tf-compose/src/format.mjs
  packages/tf-compose/src/parser.mjs
  packages/tf-compose/src/tests/let-canon.test.mjs
  packages/tf-l0-check/src/check.mjs
  samples/a4/let_ok.tf
  samples/a4/let_shadow.tf
  samples/a4/let_undefined.tf
Owners: @lexlattice, @spec-guardian, @ci-sheriff

a4 - cp3
  packages/tf-compose/bin/tf.mjs
  packages/tf-compose/src/io.mjs
  packages/tf-compose/src/tests/include-expand.test.mjs
  samples/a4/cycle_a.tf
  samples/a4/cycle_b.tf
  samples/a4/include_cycle_root.tf
  samples/a4/lib/common.tf
  samples/a4/root_with_include.tf
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A4-DSL-Ergonomics/cp4_refactors): green
  packages/tf-lsp-server/src/server.ts
  samples/a4/dup_expr.tf
  samples/a4/let_decl.tf
  scripts/lsp-smoke/stdio.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

fix(tests): tag include expansion test
  packages/tf-compose/src/tests/include-expand.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

refactor(lsp): improve let code actions
  packages/tf-lsp-server/src/server.ts
Owners: @lexlattice, @spec-guardian, @ci-sheriff

fix(tests): add headers and stabilize prim loc
  packages/tf-compose/src/parser.mjs
  packages/tf-compose/src/tests/let-canon.test.mjs
  packages/tf-compose/src/tests/let-include.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

reviews resolution
  packages/tf-compose/src/format.mjs
  packages/tf-compose/src/io.mjs
  packages/tf-compose/src/parser.mjs
  packages/tf-compose/src/tests/include-expand.test.mjs
  packages/tf-l0-check/src/check.mjs
  packages/tf-lsp-server/src/server.ts
  samples/a4/let_in_lib.tf
  samples/a4/lib/account.tf
  scripts/test/run.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:A4-DSL-Ergonomics cp:cp1_syntax (#302)
  meta/checker.yml
  packages/tf-compose/bin/tf.mjs
  packages/tf-compose/src/format.mjs
  packages/tf-compose/src/io.mjs
  packages/tf-compose/src/parser.mjs
  packages/tf-compose/src/tests/include-expand.test.mjs
  packages/tf-compose/src/tests/let-canon.test.mjs
  packages/tf-compose/src/tests/let-include.test.mjs
  packages/tf-l0-check/src/check.mjs
  packages/tf-lsp-server/src/server.ts
  samples/a4/cycle_a.tf
  samples/a4/cycle_b.tf
  samples/a4/dup_expr.tf
  samples/a4/include_cycle_root.tf
  samples/a4/let_basic.tf
  samples/a4/let_decl.tf
  samples/a4/let_in_lib.tf
  samples/a4/let_ok.tf
  samples/a4/let_shadow.tf
  samples/a4/let_undefined.tf
  samples/a4/lib/account.tf
  samples/a4/lib/common.tf
  samples/a4/root_with_include.tf
  scripts/lsp-smoke/stdio.mjs
  scripts/test/run.mjs
  tf/blocks/A4-DSL-Ergonomics/TF.yaml
  tf/blocks/A4-DSL-Ergonomics/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

prep for b, d and e tracks
  meta/checker.yml
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/package.json
  packages/tf-run-wasm/bin/cli.mjs
  packages/tf-run-wasm/package.json
  packages/tf-run-wasm/src/index.ts
  packages/tf-run-wasm/tsconfig.json
  samples/e1/small_flow.tf
  scripts/proofs/ci-gate.mjs
  scripts/wasm/compare-traces.mjs
  tf/blocks/B1-B2-Runtime/TF.yaml
  tf/blocks/B1-B2-Runtime/rulebook.yml
  tf/blocks/D1-D2-Optimizer/TF.yaml
  tf/blocks/D1-D2-Optimizer/rulebook.yml
  tf/blocks/E1-E2-Proofs/TF.yaml
  tf/blocks/E1-E2-Proofs/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(lockfile): refresh after adding new workspace packages
  pnpm-lock.yaml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(ci): enforce lockfile guardrails
  .github/actions/setup-pnpm/action.yml
  .github/workflows/lockfile-guard.yml
  AGENTS.md
  tools/tf-checker/scan-diff.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian
