Repository LexLattice/tf-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lexlattice, @spec-guardian, @ci-sheriff

refine runtime bus, checker, and law harness (#326)
  laws/crdt-merge.mjs
  laws/idempotency.mjs
  package.json
  packages/checker/check.mjs
  packages/prover/z3.mjs
  packages/runtime/bus.memory.mjs
  packages/runtime/run.mjs
  packages/tf-compose/bin/tf.mjs
  packages/util/clone.mjs
  pnpm-lock.yaml
  policy/policy.allow.json
  prover/lean/README.md
  tests/checker/capabilities.test.mjs
  tests/checker/l0-check.test.mjs
  tests/checker/outpath-error.test.mjs
  tests/checker/rpc-pairing.test.mjs
  tests/runtime/memory-bus.leak.test.mjs
  tests/runtime/memory-bus.test.mjs
  tests/runtime/run.test.mjs
  tests/util/hash.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

tighten quote pipeline references and guards (#327)
  0.6/build/auto.fnol.fasttrack.v1.l0.json
  0.6/build/auto.quote.bind.issue.v2.l0.json
  0.6/build/monitors.fasttrack-24h.l0.json
  0.6/monitors/fasttrack-24h.l2.yaml
  0.6/pipelines/auto.quote.bind.issue.v2.l2.yaml
  0.6/tests/_util/l0-checks.mjs
  0.6/tests/monitors-fasttrack-24h.spec.mjs
  0.6/tests/quote-bind-issue.spec.mjs
  diagrams/auto.fnol.fasttrack.v1.dot
  diagrams/auto.quote.bind.issue.v2.dot
  diagrams/monitors.fasttrack-24h.dot
  docs/0.6/index.md
  docs/0.6/monitors/fasttrack-24h.md
  docs/0.6/pipelines/fnol-fasttrack.md
  docs/0.6/pipelines/quote-bind-issue.md
  packages/expander/common.mjs
  scripts/assert-kernel-only.mjs
  scripts/monitor-effects.mjs
  scripts/monitor-expand.mjs
  scripts/pipeline-expand.mjs
  tasks/run-examples.sh
  tasks/run-fnol.sh
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/lib/dot.mjs
  tools/tf-lang-cli/tests/dot.branching.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Improve instance hint selection and planning
  docs/0.6/index.md
  instances/registry.v2.json
  packages/expander/resolve.mjs
  packages/expander/tests/instances.qos-and-arrays.test.mjs
  packages/expander/tests/instances.select.test.mjs
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/tests/plan.instances.flags.test.mjs
  tools/tf-lang-cli/tests/plan.instances.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add policy enforcement macro and harden RPC transforms
  docs/0.6/index.md
  packages/checker/check.mjs
  packages/expander/catalog/policy.enforce.json
  packages/expander/catalog/process.await.all.json
  packages/expander/catalog/process.await.any.json
  packages/expander/catalog/process.retry.json
  packages/expander/catalog/process.saga.json
  packages/expander/catalog/process.timeout.json
  packages/expander/catalog/state.diff.json
  packages/expander/catalog/state.merge.json
  packages/expander/catalog/state.snapshot.json
  packages/expander/catalog/state.version.json
  packages/expander/expand.mjs
  packages/expander/tests/policy.enforce.test.mjs
  packages/expander/tests/process.macros.test.mjs
  packages/expander/tests/state.macros.test.mjs
  packages/runtime/run.mjs
  packages/transform/index.mjs
  packages/transform/tests/auth.test.mjs
  packages/transform/tests/jsonpatch.test.mjs
  packages/transform/tests/time.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Polish law checks and CLI outputs
  docs/0.6/index.md
  laws/branch_exclusive.mjs
  laws/confidential_envelope.mjs
  laws/monotonic_log.mjs
  packages/checker/check.mjs
  packages/prover/counterexample.mjs
  packages/prover/z3.mjs
  prover/lean/README.md
  tests/checker/laws-branch-exclusive.normalize.test.mjs
  tests/checker/laws-branch-exclusive.test.mjs
  tests/checker/laws-confidential-envelope.test.mjs
  tests/checker/laws-monotonic-log.test.mjs
  tests/prover/counterexample.bounds.test.mjs
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/tests/laws.cli.test.mjs
  tools/tf-lang-cli/tests/laws.json-mode.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add CLI typecheck support with adapter and capability updates
  0.6/monitors/fasttrack-24h.l2.yaml
  0.6/pipelines/auto.fnol.fasttrack.v1.l2.yaml
  0.6/pipelines/auto.quote.bind.issue.v2.l2.yaml
  adapters/registry.json
  docs/0.6/index.md
  packages/checker/check.mjs
  packages/tf-compose/bin/tf.mjs
  packages/typechecker/tests/typecheck.test.mjs
  packages/typechecker/typecheck.mjs
  policy/capability.lattice.json
  schemas/type/port.schema.json
  tests/checker/capabilities-lattice.test.mjs
  tests/checker/capabilities-wildcards.test.mjs
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/tests/typecheck.cli.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Harden registry loading and plan-instances CLI
  packages/expander/resolve.mjs
  packages/expander/tests/instances.registry-fallback.test.mjs
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/lib/dot.mjs
  tools/tf-lang-cli/tests/dot.branching.test.mjs
  tools/tf-lang-cli/tests/plan.instances.determinism.test.mjs
  tools/tf-lang-cli/tests/plan.instances.flags.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Unify auth tokens and share transform ops
  docs/0.6/index.md
  packages/expander/catalog/policy.enforce.json
  packages/ops/auth.mjs
  packages/ops/tests/auth.det.test.mjs
  packages/ops/xforms.mjs
  packages/runtime/run.mjs
  packages/transform/index.mjs
  packages/transform/tests/auth.test.mjs
  packages/transform/tests/jsonpatch.test.mjs
  packages/util/encoding.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Harden counterexample payload and refactor law helpers
  laws/_util.mjs
  laws/branch_exclusive.mjs
  laws/confidential_envelope.mjs
  laws/monotonic_log.mjs
  packages/prover/counterexample.mjs
  tests/prover/counterexample.bounds.test.mjs
  tools/tf-lang-cli/index.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Polish typecheck defaults
  packages/checker/check.mjs
  policy/policy.allow.json
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/tests/typecheck.cli.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add policy enforcement macro and tighten RPC transforms (#329)
  docs/0.6/index.md
  packages/checker/check.mjs
  packages/expander/catalog/policy.enforce.json
  packages/expander/catalog/process.await.all.json
  packages/expander/catalog/process.await.any.json
  packages/expander/catalog/process.retry.json
  packages/expander/catalog/process.saga.json
  packages/expander/catalog/process.timeout.json
  packages/expander/catalog/state.diff.json
  packages/expander/catalog/state.merge.json
  packages/expander/catalog/state.snapshot.json
  packages/expander/catalog/state.version.json
  packages/expander/expand.mjs
  packages/expander/tests/policy.enforce.test.mjs
  packages/expander/tests/process.macros.test.mjs
  packages/expander/tests/state.macros.test.mjs
  packages/ops/auth.mjs
  packages/ops/tests/auth.det.test.mjs
  packages/ops/xforms.mjs
  packages/runtime/run.mjs
  packages/transform/index.mjs
  packages/transform/tests/auth.test.mjs
  packages/transform/tests/jsonpatch.test.mjs
  packages/transform/tests/time.test.mjs
  packages/util/encoding.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add typecheck CLI and wildcard capability matching (#331)
  0.6/monitors/fasttrack-24h.l2.yaml
  0.6/pipelines/auto.fnol.fasttrack.v1.l2.yaml
  0.6/pipelines/auto.quote.bind.issue.v2.l2.yaml
  adapters/registry.json
  docs/0.6/index.md
  packages/checker/check.mjs
  packages/tf-compose/bin/tf.mjs
  packages/typechecker/tests/typecheck.test.mjs
  packages/typechecker/typecheck.mjs
  policy/capability.lattice.json
  policy/policy.allow.json
  schemas/type/port.schema.json
  tests/checker/capabilities-lattice.test.mjs
  tests/checker/capabilities-wildcards.test.mjs
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/tests/typecheck.cli.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Improve instance hint selection and planning (#328)
  docs/0.6/index.md
  instances/registry.v2.json
  packages/expander/resolve.mjs
  packages/expander/tests/instances.qos-and-arrays.test.mjs
  packages/expander/tests/instances.registry-fallback.test.mjs
  packages/expander/tests/instances.select.test.mjs
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/lib/dot.mjs
  tools/tf-lang-cli/tests/dot.branching.test.mjs
  tools/tf-lang-cli/tests/plan.instances.determinism.test.mjs
  tools/tf-lang-cli/tests/plan.instances.flags.test.mjs
  tools/tf-lang-cli/tests/plan.instances.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Polish law checks and CLI outputs (#330)
  docs/0.6/index.md
  laws/_util.mjs
  laws/branch_exclusive.mjs
  laws/confidential_envelope.mjs
  laws/monotonic_log.mjs
  packages/checker/check.mjs
  packages/prover/counterexample.mjs
  packages/prover/z3.mjs
  prover/lean/README.md
  tests/checker/laws-branch-exclusive.normalize.test.mjs
  tests/checker/laws-branch-exclusive.test.mjs
  tests/checker/laws-confidential-envelope.test.mjs
  tests/checker/laws-monotonic-log.test.mjs
  tests/prover/counterexample.bounds.test.mjs
  tools/tf-lang-cli/tests/laws.cli.test.mjs
  tools/tf-lang-cli/tests/laws.json-mode.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

0.6 file placement tweaks
  .github/workflows/check.yml
  .gitignore
  examples/expand-fnol.mjs
  examples/v0.6/build/auto.fnol.fasttrack.v1.l0.json
  examples/v0.6/build/auto.quote.bind.issue.v2.l0.json
  examples/v0.6/build/monitors.fasttrack-24h.l0.json
  examples/v0.6/monitors/fasttrack-24h.l2.yaml
  examples/v0.6/pipelines/auto.fnol.fasttrack.v1.l2.yaml
  examples/v0.6/pipelines/auto.quote.bind.issue.v2.l2.yaml
  examples/v0.6/tests/_util/l0-checks.mjs
  examples/v0.6/tests/fnol-fasttrack.spec.mjs
  examples/v0.6/tests/monitors-fasttrack-24h.spec.mjs
  examples/v0.6/tests/quote-bind-issue.spec.mjs
  tasks/run-examples.sh
  tasks/run-fnol.sh
  tools/refactor/rename-0_6-to-examples_v0_6.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add v0.6 review docs and DX assessment
  out/0.6/review/A/docs.md
  out/0.6/review/B/docs.md
  out/0.6/review/C/docs.md
  out/0.6/review/D/docs.md
  out/0.6/review/E/docs.md
  out/0.6/review/F/docs.md
  out/0.6/review/G/docs.md
  out/0.6/review/H/docs.md
  out/0.6/review/_issues/issues.csv
  out/0.6/review/_summary/0.6-overview.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Rename track review docs for Codex convention
  out/0.6/review/A/docs.codex.md
  out/0.6/review/B/docs.codex.md
  out/0.6/review/C/docs.codex.md
  out/0.6/review/D/docs.codex.md
  out/0.6/review/E/docs.codex.md
  out/0.6/review/F/docs.codex.md
  out/0.6/review/G/docs.codex.md
  out/0.6/review/H/docs.codex.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add issues.codex.csv file
  out/0.6/review/_issues/issues.codex.csv
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Rename 0.6-overview.md to 0.6-overview.codex.md
  out/0.6/review/_summary/0.6-overview.codex.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add TF-Lang v0.6 documentation and DX review (#332)
  out/0.6/review/A/docs.codex.md
  out/0.6/review/B/docs.codex.md
  out/0.6/review/C/docs.codex.md
  out/0.6/review/D/docs.codex.md
  out/0.6/review/E/docs.codex.md
  out/0.6/review/F/docs.codex.md
  out/0.6/review/G/docs.codex.md
  out/0.6/review/H/docs.codex.md
  out/0.6/review/_issues/issues.codex.csv
  out/0.6/review/_summary/0.6-overview.codex.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

docs(readme): add v0.6 “What’s new”; link entrypoint, synthesis, proposals
  README.md
  out/0.6/review/A/docs.final.md
  out/0.6/review/B/docs.final.md
  out/0.6/review/C/docs.final.md
  out/0.6/review/D/docs.final.md
  out/0.6/review/E/docs.final.md
  out/0.6/review/F/docs.final.md
  out/0.6/review/G/docs.final.md
  out/0.6/review/H/docs.final.md
  out/0.6/review/README.md
  out/0.6/review/_proposals/A-proposals.tf.md
  out/0.6/review/_proposals/B-proposals.tf.md
  out/0.6/review/_proposals/C-proposals.tf.md
  out/0.6/review/_proposals/D-proposals.tf.md
  out/0.6/review/_proposals/E-proposals.tf.md
  out/0.6/review/_proposals/F-proposals.tf.md
  out/0.6/review/_proposals/G-proposals.tf.md
  out/0.6/review/_proposals/H-proposals.tf.md
  out/0.6/review/_proposals/INDEX.md
  out/0.6/review/_summary/ALL.md
  out/0.6/review/_synthesis/A.synth.md
  out/0.6/review/_synthesis/B.synth.md
  out/0.6/review/_synthesis/C.synth.md
  out/0.6/review/_synthesis/D.synth.md
  out/0.6/review/_synthesis/E.synth.md
  out/0.6/review/_synthesis/F.synth.md
  out/0.6/review/_synthesis/G.synth.md
  out/0.6/review/_synthesis/H.synth.md
  out/0.6/review/_synthesis/INDEX.md
  tools/docs/synth-0_6.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

docs(review): add v0.6 enhancement plan
  out/0.6/enhancement plan.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Update README.md
  README.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

docs: add v0.6 review synthesis and update README entrypoints (#334)
  README.md
  out/0.6/enhancement plan.md
  out/0.6/review/A/docs.final.md
  out/0.6/review/B/docs.final.md
  out/0.6/review/C/docs.final.md
  out/0.6/review/D/docs.final.md
  out/0.6/review/E/docs.final.md
  out/0.6/review/F/docs.final.md
  out/0.6/review/G/docs.final.md
  out/0.6/review/H/docs.final.md
  out/0.6/review/README.md
  out/0.6/review/_proposals/A-proposals.tf.md
  out/0.6/review/_proposals/B-proposals.tf.md
  out/0.6/review/_proposals/C-proposals.tf.md
  out/0.6/review/_proposals/D-proposals.tf.md
  out/0.6/review/_proposals/E-proposals.tf.md
  out/0.6/review/_proposals/F-proposals.tf.md
  out/0.6/review/_proposals/G-proposals.tf.md
  out/0.6/review/_proposals/H-proposals.tf.md
  out/0.6/review/_proposals/INDEX.md
  out/0.6/review/_summary/ALL.md
  out/0.6/review/_synthesis/A.synth.md
  out/0.6/review/_synthesis/B.synth.md
  out/0.6/review/_synthesis/C.synth.md
  out/0.6/review/_synthesis/D.synth.md
  out/0.6/review/_synthesis/E.synth.md
  out/0.6/review/_synthesis/F.synth.md
  out/0.6/review/_synthesis/G.synth.md
  out/0.6/review/_synthesis/H.synth.md
  out/0.6/review/_synthesis/INDEX.md
  tools/docs/synth-0_6.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

fix(synth): no shell=true; newline at EOF; proposal key bug
  docs/0.6/index.md
  docs/0.6/laws-authoring.md
  docs/0.6/port-types.md
  packages/checker/check.mjs
  packages/shared/ast.mjs
  packages/transform/index.mjs
  packages/transform/tests/index.test.mjs
  packages/typechecker/typecheck.mjs
  tools/docs/synth-0_6.mjs
  tools/tf-lang-cli/index.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Integrate enhanced TF-Studio demo surfaces
  README-TF-STUDIO-SEED.md
  apps/tf-studio/README.md
  apps/tf-studio/app/api/cli/check/route.ts
  apps/tf-studio/app/api/cli/effects/route.ts
  apps/tf-studio/app/api/cli/expand/route.ts
  apps/tf-studio/app/api/cli/plan-instances/route.ts
  apps/tf-studio/app/api/cli/typecheck/route.ts
  apps/tf-studio/app/api/examples/list/route.ts
  apps/tf-studio/app/chat/page.tsx
  apps/tf-studio/app/examples/[id]/page.tsx
  apps/tf-studio/app/examples/page.tsx
  apps/tf-studio/app/page.tsx
  apps/tf-studio/app/playground/bridge.tsx
  apps/tf-studio/app/playground/page.tsx
  apps/tf-studio/components/ChatDock.tsx
  apps/tf-studio/components/CodeEditor.tsx
  apps/tf-studio/components/EffectsPanel.tsx
  apps/tf-studio/components/ExampleCard.tsx
  apps/tf-studio/components/ExpandPanel.tsx
  apps/tf-studio/components/GraphPanel.tsx
  apps/tf-studio/components/InstancePlanPanel.tsx
  apps/tf-studio/components/LawPanel.tsx
  apps/tf-studio/components/TypecheckPanel.tsx
  apps/tf-studio/lib/tools.ts
  apps/tf-studio/package.json
  pnpm-lock.yaml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Document pnpm hygiene and add maintenance scripts
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  scripts/install-fresh.mjs
  scripts/verify-dist.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Streamline CI workflows and add change detector
  .github/workflows/briefs.yml
  .github/workflows/check.yml
  .github/workflows/checkpoint.yml
  .github/workflows/ci.yml
  .github/workflows/conformance.yml
  .github/workflows/l0-audit.yml
  .github/workflows/l0-docs.yml
  .github/workflows/l0-proofs.yml
  .github/workflows/l0-runtime-verify.yml
  .github/workflows/lockfile-guard.yml
  .github/workflows/reusable-tf-check.yml
  scripts/ci/detect-schema-changes.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add ci:prepare hook and streamline heavy workflows
  .github/actions/setup-pnpm/action.yml
  .github/workflows/conformance.yml
  .github/workflows/l0-audit.yml
  .github/workflows/l0-docs.yml
  .github/workflows/l0-proofs.yml
  .github/workflows/l0-runtime-verify.yml
  .github/workflows/t2-runtime.yml
  .github/workflows/t3-trace-and-perf.yml
  .github/workflows/t4-plan-scaffold-compare.yml
  .github/workflows/tf-l0-a0-a1.yml
  package.json
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Fix TF-Studio TypeScript strictness issues
  apps/tf-studio/app/api/cli/laws/route.ts
  apps/tf-studio/app/examples/page.tsx
  apps/tf-studio/components/ExampleCard.tsx
  apps/tf-studio/components/ExpandPanel.tsx
  apps/tf-studio/components/LawPanel.tsx
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Fix duplicate prepare keys in t2 workflow
  .github/workflows/t2-runtime.yml
Owners: @ci-sheriff

Refine ci:prepare to build workspace subsets
  package.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

ci fix
  .github/workflows/disabled/checkpoint.yml
  .github/workflows/lockfile-guard.yml
Owners: @ci-sheriff

Add test headers and fix proofs coverage
  .npmrc
  laws/confidential_envelope.mjs
  package.json
  packages/expander/tests/auth.macros.test.mjs
  packages/expander/tests/interaction.request.test.mjs
  packages/expander/tests/policy.enforce.test.mjs
  packages/expander/tests/process.macros.test.mjs
  packages/expander/tests/process.schedule.test.mjs
  packages/expander/tests/state.macros.test.mjs
  packages/expander/tests/yaml-loader.test.mjs
  packages/ops/tests/auth.det.test.mjs
  packages/transform/tests/auth.test.mjs
  packages/transform/tests/index.test.mjs
  packages/transform/tests/jsonpatch.test.mjs
  packages/transform/tests/jsonschema-string-id.test.mjs
  packages/transform/tests/state_diff-nonobject.test.mjs
  packages/transform/tests/state_diff.test.mjs
  packages/transform/tests/time.test.mjs
  scripts/proofs/coverage.mjs
  tests/checker/capabilities.test.mjs
  tests/checker/l0-check.test.mjs
  tests/checker/laws-branch-exclusive.normalize.test.mjs
  tests/checker/laws-branch-exclusive.test.mjs
  tests/checker/laws-confidential-envelope.test.mjs
  tests/checker/laws-monotonic-log.test.mjs
  tests/checker/outpath-error.test.mjs
  tests/checker/rpc-pairing.test.mjs
  tests/prover/counterexample.bounds.test.mjs
  tests/runtime/memory-bus.leak.test.mjs
  tests/runtime/memory-bus.test.mjs
  tests/runtime/run.test.mjs
  tests/util/hash.test.mjs
  tools/tf-lang-cli/tests/dot.branching.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Harden canonical L0 pipeline/monitor exports and CI validation
  .githooks/pre-commit
  .github/workflows/check.yml
  .gitignore
  examples/v0.6/build/auto.fnol.fasttrack.v1.l0.dev.json
  examples/v0.6/build/auto.quote.bind.issue.v2.l0.dev.json
  examples/v0.6/build/monitors.fasttrack-24h.l0.dev.json
  examples/v0.6/monitors/fasttrack-24h.l0m.json
  examples/v0.6/monitors/fasttrack-24h.l0m.json.sha256
  examples/v0.6/monitors/manifest.json
  examples/v0.6/pipelines/auto.fnol.fasttrack.v1.l0.json
  examples/v0.6/pipelines/auto.fnol.fasttrack.v1.l0.json.sha256
  examples/v0.6/pipelines/auto.quote.bind.issue.v2.l0.json
  examples/v0.6/pipelines/auto.quote.bind.issue.v2.l0.json.sha256
  examples/v0.6/pipelines/manifest.json
  package.json
  packages/tf-trace/package.json
  packages/tf-trace/tsconfig.json
  pnpm-lock.yaml
  schemas/l0-monitor.schema.json
  scripts/ci/detect-schema-changes.mjs
  scripts/ci/validate-json.mjs
  scripts/ci/verify-dag.mjs
  scripts/ci/verify-manifests.mjs
  scripts/ci/verify-monitor-ids.mjs
  scripts/ci/verify-monitors-ref.mjs
  scripts/l0/export-canonical.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Fix fast tests for tf-run-wasm and canonical pipeline path
  packages/tf-run-wasm/bin/cli.mjs
  packages/tf-run-wasm/tests/run-wasm-cli.test.mjs
  packages/tf-run-wasm/tests/wasm-parity.test.mjs
  tools/tf-lang-cli/tests/check.cli.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Update CLI smoke step to use expand/check/canonical
  .github/workflows/tf-l0-a0-a1.yml
  scripts/dev/canonical-json.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

ci tweak
  .github/workflows/t2-runtime.yml
  .github/workflows/tf-l0-a0-a1.yml
  packages/tf-check/package.json
  packages/tf-lang-l0-ts/src/spec/adapter.ts
  packages/tf-run-wasm/package.json
  packages/tf-run-wasm/tsconfig.json
  pnpm-lock.yaml
Owners: @ci-sheriff, @lexlattice, @spec-guardian

ci fix
  .github/workflows/t2-runtime.yml
Owners: @ci-sheriff

ci tweak
  .github/workflows/l0-docs.yml
  .github/workflows/t2-runtime.yml
Owners: @ci-sheriff

.github/CODEOWNERS:

* @lexlattice @spec-guardian @ci-sheriff
packages/tf-l0-spec/** @spec-guardian
schemas/** @spec-guardian
packages/tf-l0-check/** @spec-guardian
.github/** @ci-sheriff
