Repository LexLattice/tf-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lexlattice, @spec-guardian, @ci-sheriff

.github/CODEOWNERS:

* @lexlattice @spec-guardian @ci-sheriff
packages/tf-l0-spec/** @spec-guardian
schemas/** @spec-guardian
packages/tf-l0-check/** @spec-guardian
.github/** @ci-sheriff

Add deterministic L0 doc generation and CI check
  .github/workflows/l0-docs.yml
  README.md
  docs/l0-catalog.md
  docs/l0-dsl.md
  docs/l0-effects.md
  scripts/docgen/catalog.mjs
  scripts/docgen/dsl.mjs
  scripts/docgen/effects.mjs
  tests/docgen.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add docgen generators and CI sync check
  .github/workflows/l0-docs.yml
  README.md
  docs/l0-catalog.md
  docs/l0-dsl.md
  docs/l0-effects.md
  scripts/docgen/catalog.mjs
  scripts/docgen/dsl.mjs
  scripts/docgen/effects.mjs
  tests/docgen.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add docgen scripts and CI check
  .github/workflows/l0-docs.yml
  README.md
  docs/l0-catalog.md
  docs/l0-dsl.md
  docs/l0-effects.md
  scripts/docgen/catalog.mjs
  scripts/docgen/dsl.mjs
  scripts/docgen/effects.mjs
  tests/docgen.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add runtime verify workflow and CLI
  .github/workflows/l0-runtime-verify.yml
  docs/pilot-l0.md
  scripts/runtime-verify.mjs
  tests/runtime-verify.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add runtime verify workflow and CLI
  .github/workflows/l0-runtime-verify.yml
  docs/pilot-l0.md
  scripts/runtime-verify.mjs
  tests/runtime-verify.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add runtime verify workflow and CLI
  .github/workflows/l0-runtime-verify.yml
  docs/pilot-l0.md
  scripts/runtime-verify.mjs
  tests/runtime-verify.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add runtime verification workflow and CLI
  .github/workflows/l0-runtime-verify.yml
  docs/pilot-l0.md
  scripts/runtime-verify.mjs
  tests/runtime-verify.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Improve runtime verification determinism
  .github/workflows/l0-runtime-verify.yml
  docs/pilot-l0.md
  scripts/pilot-build-run.mjs
  scripts/runtime-verify.mjs
  tests/runtime-verify.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Improve docgen determinism and CI
  .github/workflows/l0-docs.yml
  README.md
  docs/l0-catalog.md
  docs/l0-dsl.md
  docs/l0-effects.md
  package.json
  scripts/docgen/catalog.mjs
  scripts/docgen/check.mjs
  scripts/docgen/dsl.mjs
  scripts/docgen/effects.mjs
  scripts/docgen/utils.mjs
  tests/docgen.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add docgen scripts and CI check for L0 docs (#262)
  .github/workflows/l0-docs.yml
  README.md
  docs/l0-catalog.md
  docs/l0-dsl.md
  docs/l0-effects.md
  package.json
  scripts/docgen/catalog.mjs
  scripts/docgen/check.mjs
  scripts/docgen/dsl.mjs
  scripts/docgen/effects.mjs
  scripts/docgen/utils.mjs
  tests/docgen.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add runtime verification workflow and CLI (#269)
  .github/workflows/l0-runtime-verify.yml
  docs/pilot-l0.md
  scripts/pilot-build-run.mjs
  scripts/runtime-verify.mjs
  tests/runtime-verify.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add full pilot parity harness
  docs/pilot-l0.md
  examples/flows/pilot_full.tf
  scripts/lib/pilot-full-runtime.mjs
  scripts/lib/pilot-full-support.mjs
  scripts/pilot-full-build-run.mjs
  scripts/pilot-full-parity.mjs
  scripts/t5-build-run.mjs
  tests/pilot-full-parity.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add pilot full parity harness
  docs/pilot-l0.md
  examples/flows/pilot_full.tf
  packages/adapter-legal-ts/tsconfig.json
  scripts/lib/decimal.mjs
  scripts/lib/pilot-full-helpers.mjs
  scripts/lib/pilot-full-runtime.mjs
  scripts/pilot-full-build-run.mjs
  scripts/pilot-full-parity.mjs
  scripts/t5-build-run.mjs
  tests/pilot-full-parity.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add pilot full parity workflow
  docs/pilot-l0.md
  examples/flows/pilot_full.tf
  scripts/pilot-full-build-run.mjs
  scripts/pilot-full-lib.mjs
  scripts/pilot-full-parity.mjs
  scripts/t5-build-run.mjs
  tests/pilot-full-parity.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: add rust runtime templates and parity tooling
  docs/l0-rust.md
  packages/tf-l0-codegen-rs/Cargo.toml
  packages/tf-l0-codegen-rs/src/lib.rs
  packages/tf-l0-codegen-rs/templates/Cargo.toml
  packages/tf-l0-codegen-rs/templates/adapters.rs
  packages/tf-l0-codegen-rs/templates/lib.rs
  packages/tf-l0-codegen-rs/templates/pipeline.rs
  packages/tf-l0-codegen-rs/templates/run.rs
  scripts/cross-parity-ts-rs.mjs
  scripts/generate-rs-run.mjs
  scripts/generate-rs.mjs
  tests/codegen-rs.test.mjs
  tests/cross-parity-ts-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add full pilot parity tooling
  docs/pilot-l0.md
  examples/flows/pilot_full.tf
  scripts/lib/pilot-full-pipeline.mjs
  scripts/pilot-full-build-run.mjs
  scripts/pilot-full-parity.mjs
  scripts/t5-build-run.mjs
  tests/pilot-full-parity.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: generate runnable rust crates with trace parity
  docs/l0-rust.md
  packages/tf-l0-codegen-rs/Cargo.toml
  packages/tf-l0-codegen-rs/src/lib.rs
  packages/tf-l0-codegen-rs/templates/src_adapters.rs
  packages/tf-l0-codegen-rs/templates/src_bin_run.rs
  packages/tf-l0-codegen-rs/templates/src_lib.rs
  packages/tf-l0-codegen-rs/templates/src_runtime.rs
  scripts/cross-parity-ts-rs.mjs
  scripts/generate-rs-run.mjs
  tests/codegen-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: add rust trace parity tooling
  README.md
  docs/l0-rust.md
  package.json
  packages/tf-l0-codegen-rs/src/lib.rs
  scripts/cross-parity-ts-rs.mjs
  scripts/generate-rs-run.mjs
  scripts/generate-rs.mjs
  tests/codegen-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: add runnable rust codegen with parity checks
  README.md
  docs/l0-rust.md
  package.json
  packages/tf-l0-codegen-rs/src/lib.rs
  scripts/cross-parity-ts-rs.mjs
  scripts/generate-rs-run.mjs
  scripts/lib/rust-codegen.mjs
  tests/codegen-rs.test.mjs
  tests/cross-parity-ts-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Refine pilot parity harness determinism
  docs/pilot-l0.md
  package.json
  scripts/lib/pilot-full-support.mjs
  scripts/pilot-full-build-run.mjs
  scripts/pilot-full-parity.mjs
  scripts/t5-build-run.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: stabilize rust codegen output and parity tooling
  docs/l0-rust.md
  package.json
  packages/tf-l0-codegen-rs/src/lib.rs
  packages/tf-l0-codegen-rs/templates/src_lib.rs
  packages/tf-l0-codegen-rs/templates/src_pipeline.rs
  scripts/cross-parity-ts-rs.mjs
  scripts/generate-rs-run.mjs
  tests/codegen-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add full pilot parity harness (#270)
  docs/pilot-l0.md
  examples/flows/pilot_full.tf
  package.json
  scripts/lib/pilot-full-runtime.mjs
  scripts/lib/pilot-full-support.mjs
  scripts/pilot-full-build-run.mjs
  scripts/pilot-full-parity.mjs
  scripts/t5-build-run.mjs
  tests/pilot-full-parity.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat: generate runnable rust crates with trace parity (#275)
  docs/l0-rust.md
  package.json
  packages/tf-l0-codegen-rs/Cargo.toml
  packages/tf-l0-codegen-rs/src/lib.rs
  packages/tf-l0-codegen-rs/templates/src_adapters.rs
  packages/tf-l0-codegen-rs/templates/src_bin_run.rs
  packages/tf-l0-codegen-rs/templates/src_lib.rs
  packages/tf-l0-codegen-rs/templates/src_pipeline.rs
  scripts/cross-parity-ts-rs.mjs
  scripts/generate-rs-run.mjs
  tests/codegen-rs.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Add repo-wide audit tooling and CI surface
  .github/workflows/l0-audit.yml
  package.json
  scripts/audit/check-catalog.mjs
  scripts/audit/check-determinism.mjs
  scripts/audit/check-links.mjs
  scripts/audit/check-schemas.mjs
  scripts/audit/run.mjs
  tests/audit.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add proof coverage analysis and stubs
  docs/l0-proof-coverage.md
  package.json
  scripts/proofs/coverage.mjs
  scripts/proofs/emit-missing-laws.mjs
  tests/proofs-coverage.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Polish audit workflow and reporting
  .github/workflows/l0-audit.yml
  scripts/audit/check-determinism.mjs
  scripts/audit/run.mjs
  tests/audit.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Updated the proof workflow and coverage tooling for deterministic artifacts and clearer outputs.
  .github/workflows/l0-proofs.yml
  scripts/proofs/coverage.mjs
  scripts/proofs/emit-missing-laws.mjs
  tests/proofs-coverage.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add repo-wide audit tooling and CI surface (#278)
  .github/workflows/l0-audit.yml
  package.json
  scripts/audit/check-catalog.mjs
  scripts/audit/check-determinism.mjs
  scripts/audit/check-links.mjs
  scripts/audit/check-schemas.mjs
  scripts/audit/run.mjs
  tests/audit.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Changes
  .github/workflows/conformance.yml
  packages/tf-compose/bin/tf-manifest.mjs
  packages/tf-compose/bin/tf-policy-auth.mjs
  packages/tf-compose/bin/tf-policy.mjs
  packages/tf-compose/bin/tf-verify-trace.mjs
  packages/tf-compose/bin/tf.mjs
  packages/tf-l0-spec/spec/laws.json
  scripts/audit/check-links.mjs
  scripts/audit/run.mjs
  services/claims-api-ts/Dockerfile
  tests/audit.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

ci fix
  .github/workflows/conformance.yml
Owners: @ci-sheriff

Pilot Trace Fix
  scripts/pilot-build-run.mjs
  scripts/pilot-handwritten.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Polish test taxonomy outputs and CI wiring
  .github/workflows/conformance.yml
  .github/workflows/l0-docs.yml
  .github/workflows/l0-runtime-verify.yml
  .github/workflows/tf-l0-a0-a1.yml
  .gitignore
  README.md
  scripts/test/discover.mjs
  scripts/test/list.mjs
  scripts/test/run.mjs
  scripts/test/utils.mjs
  tests/test-runner-determinism.test.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

Add metadata audit and wire into CI
  .github/workflows/tf-l0-a0-a1.yml
  .gitignore
  package.json
  scripts/test/audit-metadata.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

add cleanup script
  Makefile
  scripts/keep-main-only.sh
Owners: @lexlattice, @spec-guardian, @ci-sheriff

readme 0.4 update
  README.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

tf-lang 0.45: bootstrap scaffolding
  .github/workflows/checkpoint.yml
  meta/checker.yml
  package.json
  pnpm-lock.yaml
  scripts/probe-lsp-codeaction.mjs
  scripts/probe-lsp-diag.mjs
  scripts/probe-lsp-hover.mjs
  tf/blocks/A1-LSP-Proto/TF.yaml
  tf/blocks/A1-LSP-Proto/rulebook.yml
  tf/blocks/A1-LSP-Proto/validate.tf
  tools/tf-lang-cli/expand.mjs
  tools/tf-lang-cli/index.mjs
  tools/tf-lang-cli/scaffold.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

rulebook
  AGENTS.md
  tf/blocks/A1-LSP-Proto/rulebook.yml
  tools/tf-checker/scan-diff.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

update rulebook
  tf/blocks/A1-LSP-Proto/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A1-LSP-Proto/cp3_hover): green
  clients/vscode-tf/bin/node
  clients/vscode-tf/bin/pnpm
  clients/vscode-tf/bin/tsc
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/dist/server.js
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/src/shims.d.ts
  packages/tf-lsp-server/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(A1-LSP-Proto/cp3_hover): green
  clients/vscode-tf/dist/extension.js
  clients/vscode-tf/language-configuration.json
  clients/vscode-tf/package.json
  clients/vscode-tf/src/extension.ts
  clients/vscode-tf/syntaxes/tf.tmLanguage.json
  clients/vscode-tf/tsconfig.json
  packages/tf-lsp-server/dist/server.d.ts
  packages/tf-lsp-server/dist/server.js
  packages/tf-lsp-server/package.json
  packages/tf-lsp-server/parser.d.ts
  packages/tf-lsp-server/src/server.ts
  packages/tf-lsp-server/tsconfig.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff
