Repository LexLattice/tf-lang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lexlattice, @spec-guardian, @ci-sheriff

fix(ci): quote checkpoint step name
  .github/workflows/checkpoint.yml
Owners: @ci-sheriff

fix(ci): harden checkpoint workflow
  .github/workflows/checkpoint.yml
Owners: @ci-sheriff

chore(B1-B2-Runtime/cp3_parity_smoke): green
  crates/tf-eval-core/Cargo.toml
  crates/tf-eval-core/src/lib.rs
  crates/tf-eval-wasm/Cargo.toml
  crates/tf-eval-wasm/src/lib.rs
  packages/tf-run-wasm/src/index.ts
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(B1-B2-Runtime/cp3): green
  crates/tf-eval-core/Cargo.toml
  crates/tf-eval-core/src/lib.rs
  crates/tf-eval-wasm/Cargo.toml
  crates/tf-eval-wasm/src/lib.rs
  packages/tf-run-wasm/src/index.ts
  scripts/wasm/compare-traces.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

tweak
  packages/tf-run-wasm/src/index.ts
Owners: @lexlattice, @spec-guardian, @ci-sheriff

fix(wasm): emit parity flag without whitespace
  scripts/wasm/compare-traces.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

feat(E1-E2-Proofs): solver gating
  packages/tf-opt/bin/opt.mjs
  scripts/proofs/ci-gate.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(E1-E2-Proofs/cp2_solver_gate): green
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/data.mjs
  packages/tf-opt/lib/rewrite-detect.mjs
  scripts/proofs/ci-gate.mjs
  tf/blocks/E1-E2-Proofs/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(D1-D2-Optimizer/cp2): green
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/data.mjs
  packages/tf-opt/lib/rewrite-detect.mjs
  packages/tf-opt/lib/tests/rewrite-detect.test.mjs
  tf/blocks/D1-D2-Optimizer/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(E1-E2-Proofs): finalize linkage & small solver gate; normalize manifests; rulebook array rules
  packages/tf-opt/bin/opt.mjs
  scripts/proofs/ci-gate.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(D1-D2-Optimizer): finalize modular analyzer, deterministic outputs, rulebook
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/data.mjs
  packages/tf-opt/lib/rewrite-detect.mjs
  packages/tf-opt/lib/tests/rewrite-detect.test.mjs
  tf/blocks/D1-D2-Optimizer/rulebook.yml
  tools/tf-lang-cli/expand.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(B1-B2-Runtime/cp3_parity_smoke): green
  crates/tf-eval-core/src/lib.rs
  crates/tf-eval-wasm/src/lib.rs
  packages/tf-run-wasm/package.json
  packages/tf-run-wasm/src/index.ts
  packages/tf-run-wasm/tests/wasm-parity.test.mjs
  packages/tf-run-wasm/tsconfig.json
  scripts/wasm/compare-traces.mjs
  tools/tf-lang-cli/expand.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

ci fix
  packages/tf-run-wasm/tests/wasm-parity.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

ci fix
  packages/tf-run-wasm/tests/wasm-parity.test.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(E1-E2-Proofs/cp2_solver_gate): dedupe z3 guard
  tf/blocks/E1-E2-Proofs/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(D1-D2-Optimizer/cp2_rewrites): harmonize plan output
  packages/tf-opt/bin/opt.mjs
  tf/blocks/D1-D2-Optimizer/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(B3-B4-Runtime/cp4_cli): polish rulebook and docs
  packages/tf-run-wasm/README.md
  packages/tf-run-wasm/bin/cli.mjs
  packages/tf-run-wasm/bin/run-wasm.mjs
  packages/tf-run-wasm/package.json
  packages/tf-run-wasm/src/index.ts
  packages/tf-run-wasm/tests/run-wasm-cli.test.mjs
  packages/tf-run-wasm/tests/wasm-parity.test.mjs
  samples/b3/minimal.ir.json
  samples/b3/minimal.tf
  tf/blocks/B3-B4-Runtime/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(E3-E4-Proofs/cp4_docs_coverage): finalize rulebook
  docs/proofs/README.md
  scripts/proofs/ci-gate.mjs
  scripts/proofs/coverage.mjs
  scripts/proofs/laws/commute__emit-metric-with-pure.smt2
  scripts/proofs/laws/idempotent__hash.smt2
  scripts/proofs/laws/idempotent__write-by-key.smt2
  scripts/proofs/laws/inverse__serialize-deserialize.smt2
  scripts/proofs/tests/coverage-smoke.test.mjs
  tf/blocks/E3-E4-Proofs/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(D3-D4-Optimizer/cp4_coverage): polish
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/plan-apply.mjs
  packages/tf-opt/lib/rewrite-detect.mjs
  packages/tf-opt/lib/tests/plan-apply.test.mjs
  packages/tf-opt/lib/tests/rewrite-detect.test.mjs
  packages/tf-opt/tests/smoke.test.mjs
  samples/d3/signing_commute.tf
  scripts/opt/smoke.mjs
  tf/blocks/D3-D4-Optimizer/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(E3-E4-Proofs/cp4_docs_coverage): green
  docs/proofs/README.md
  packages/tf-opt/bin/opt.mjs
  scripts/proofs/ci-gate.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(B3-B4-Runtime/cp4_cli): polish CLI UX
  packages/tf-run-wasm/README.md
  packages/tf-run-wasm/bin/run-wasm.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(D3-D4-Optimizer/cp4_coverage): green
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/plan-apply.mjs
  scripts/opt/smoke.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:B1-B2-Runtime cp:cp3 (#304)
  crates/tf-eval-core/Cargo.toml
  crates/tf-eval-core/src/lib.rs
  crates/tf-eval-wasm/Cargo.toml
  crates/tf-eval-wasm/src/lib.rs
  packages/tf-run-wasm/package.json
  packages/tf-run-wasm/src/index.ts
  packages/tf-run-wasm/tests/wasm-parity.test.mjs
  packages/tf-run-wasm/tsconfig.json
  scripts/wasm/compare-traces.mjs
  tools/tf-lang-cli/expand.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:E1-E2-Proofs cp:cp2_solver_gate (#306)
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/data.mjs
  packages/tf-opt/lib/rewrite-detect.mjs
  scripts/proofs/ci-gate.mjs
  tf/blocks/E1-E2-Proofs/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:D1-D2-Optimizer cp:cp2 (#307)
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/data.mjs
  packages/tf-opt/lib/rewrite-detect.mjs
  packages/tf-opt/lib/tests/rewrite-detect.test.mjs
  tf/blocks/D1-D2-Optimizer/rulebook.yml
  tf/blocks/E1-E2-Proofs/rulebook.yml
  tools/tf-lang-cli/expand.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:B3-B4-Runtime cp:cp4_cli (#308)
  packages/tf-run-wasm/README.md
  packages/tf-run-wasm/bin/cli.mjs
  packages/tf-run-wasm/bin/run-wasm.mjs
  packages/tf-run-wasm/src/index.ts
  packages/tf-run-wasm/tests/run-wasm-cli.test.mjs
  packages/tf-run-wasm/tests/wasm-parity.test.mjs
  samples/b3/minimal.ir.json
  samples/b3/minimal.tf
  tf/blocks/B3-B4-Runtime/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:D3-D4-Optimizer cp:cp4_coverage (#310)
  packages/tf-opt/bin/opt.mjs
  packages/tf-opt/lib/data.mjs
  packages/tf-opt/lib/plan-apply.mjs
  packages/tf-opt/lib/rewrite-detect.mjs
  packages/tf-opt/lib/tests/plan-apply.test.mjs
  packages/tf-opt/lib/tests/rewrite-detect.test.mjs
  packages/tf-opt/tests/smoke.test.mjs
  samples/d3/signing_commute.tf
  scripts/opt/smoke.mjs
  tf/blocks/D3-D4-Optimizer/rulebook.yml
  tf/blocks/E1-E2-Proofs/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:E3-E4-Proofs cp:cp4_docs_coverage (#309)
  docs/proofs/README.md
  packages/tf-opt/lib/rewrite-detect.mjs
  scripts/proofs/ci-gate.mjs
  scripts/proofs/coverage.mjs
  scripts/proofs/laws/commute__emit-metric-with-pure.smt2
  scripts/proofs/laws/idempotent__hash.smt2
  scripts/proofs/laws/idempotent__write-by-key.smt2
  scripts/proofs/laws/inverse__serialize-deserialize.smt2
  scripts/proofs/tests/coverage-smoke.test.mjs
  tf/blocks/E1-E2-Proofs/rulebook.yml
  tf/blocks/E3-E4-Proofs/rulebook.yml
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(F-DevEx-Release/cp5_docs_gate): polish
  .github/workflows/release.yml
  scripts/docs/build.mjs
  tf/blocks/F-DevEx-Release/TF.yaml
  tf/blocks/F-DevEx-Release/rulebook.yml
  tools/ci/lockfile-guard.mjs
  tools/release/changelog.mjs
  tools/release/pack-all.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

chore: polish tf-trace CLI and tests
  meta/checker.yml
  packages/tf-trace/bin/trace.mjs
  packages/tf-trace/dist/lib/budget.d.ts
  packages/tf-trace/dist/lib/budget.js
  packages/tf-trace/dist/lib/ingest.d.ts
  packages/tf-trace/dist/lib/ingest.js
  packages/tf-trace/dist/lib/summary.d.ts
  packages/tf-trace/dist/lib/summary.js
  packages/tf-trace/dist/lib/validate.d.ts
  packages/tf-trace/dist/lib/validate.js
  packages/tf-trace/package.json
  packages/tf-trace/src/lib/budget.ts
  packages/tf-trace/src/lib/ingest.ts
  packages/tf-trace/src/lib/summary.ts
  packages/tf-trace/src/lib/validate.ts
  packages/tf-trace/src/schema/trace.schema.json
  packages/tf-trace/tests/trace-package.test.mjs
  packages/tf-trace/tsconfig.json
  pnpm-lock.yaml
  samples/c/trace_small.jsonl
  tf/blocks/C-Trace-Perf/TF.yaml
  tf/blocks/C-Trace-Perf/budgets.sample.json
  tf/blocks/C-Trace-Perf/rulebook.yml
  tools/trace/quick-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore: clean tf-trace cli outputs
  .gitignore
  packages/tf-trace/README.md
  packages/tf-trace/bin/trace.mjs
  packages/tf-trace/dist/lib/budget.d.ts
  packages/tf-trace/dist/lib/budget.js
  packages/tf-trace/dist/lib/ingest.d.ts
  packages/tf-trace/dist/lib/ingest.js
  packages/tf-trace/dist/lib/summary.d.ts
  packages/tf-trace/dist/lib/summary.js
  packages/tf-trace/dist/lib/validate.d.ts
  packages/tf-trace/dist/lib/validate.js
  packages/tf-trace/package.json
  packages/tf-trace/scripts/pretest-build.mjs
  packages/tf-trace/src/index.ts
  packages/tf-trace/tests/trace-package.test.mjs
  samples/c/budgets.sample.json
  tools/trace/quick-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore(F-DevEx-Release/cp5_docs_gate): apply review feedback
  docs/CONTRIBUTING.md
  scripts/test/release-helpers.test.mjs
  tf/blocks/F-DevEx-Release/TF.yaml
  tools/release/_shared.mjs
  tools/release/changelog.mjs
  tools/release/pack-all.mjs
  tools/release/snapshot-lanes.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore: polish tf-trace CLI and tests (#312)
  .gitignore
  meta/checker.yml
  packages/tf-trace/README.md
  packages/tf-trace/bin/trace.mjs
  packages/tf-trace/package.json
  packages/tf-trace/scripts/pretest-build.mjs
  packages/tf-trace/src/index.ts
  packages/tf-trace/src/lib/budget.ts
  packages/tf-trace/src/lib/ingest.ts
  packages/tf-trace/src/lib/summary.ts
  packages/tf-trace/src/lib/validate.ts
  packages/tf-trace/src/schema/trace.schema.json
  packages/tf-trace/tests/trace-package.test.mjs
  packages/tf-trace/tsconfig.json
  pnpm-lock.yaml
  samples/c/budgets.sample.json
  samples/c/trace_small.jsonl
  tf/blocks/C-Trace-Perf/TF.yaml
  tf/blocks/C-Trace-Perf/budgets.sample.json
  tf/blocks/C-Trace-Perf/rulebook.yml
  tools/trace/quick-check.mjs
Owners: @lexlattice, @spec-guardian, @ci-sheriff

node:F-DevEx-Release cp:cp5_docs_gate (#311)
  .github/workflows/release.yml
  docs/CONTRIBUTING.md
  scripts/docs/build.mjs
  scripts/test/release-helpers.test.mjs
  tf/blocks/F-DevEx-Release/TF.yaml
  tf/blocks/F-DevEx-Release/rulebook.yml
  tools/ci/lockfile-guard.mjs
  tools/release/_shared.mjs
  tools/release/changelog.mjs
  tools/release/pack-all.mjs
  tools/release/snapshot-lanes.mjs
Owners: @ci-sheriff, @lexlattice, @spec-guardian

docs(review): add 0.5 milestone audit reports
  out/0.5/review/A/findings.codex.md
  out/0.5/review/B/findings.codex.md
  out/0.5/review/C/findings.codex.md
  out/0.5/review/D/findings.codex.md
  out/0.5/review/E/findings.codex.md
  out/0.5/review/F/findings.codex.md
  out/0.5/review/_issues/issues.codex.csv
  out/0.5/review/_summary/cross-cutting.codex.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

chore: finalize jules 0.5 bundle
  .gitignore
  README.md
  out/0.5/review-jules/A-LSP-DSL/docs.jules.md
  out/0.5/review-jules/B-Runtime/docs.jules.md
  out/0.5/review-jules/C-Trace-Perf/docs.jules.md
  out/0.5/review-jules/C-Trace-Perf/export.csv
  out/0.5/review-jules/C-Trace-Perf/summary.json
  out/0.5/review-jules/D-Optimizer/docs.jules.md
  out/0.5/review-jules/E-Proofs/docs.jules.md
  out/0.5/review-jules/F-DevEx-Release/release-readiness.jules.md
  out/0.5/review-jules/_issues/issues.jules.csv
  out/0.5/review-jules/_summary/0.5-overview.jules.md
  out1/0.5/release/CHANGELOG.next.md
  out1/0.5/release/pack.json
  out1/0.5/review.tar.gz
  out1/0.5/review/C-Trace-Perf/summary.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

docs(review): add entrypoint and repro index
  out/0.5/review/ALL.md
  out/0.5/review/README.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

docs(review): add 0.5 milestone audit reports (#314)
  out/0.5/review/A/findings.codex.md
  out/0.5/review/ALL.md
  out/0.5/review/B/findings.codex.md
  out/0.5/review/C/findings.codex.md
  out/0.5/review/D/findings.codex.md
  out/0.5/review/E/findings.codex.md
  out/0.5/review/F/findings.codex.md
  out/0.5/review/README.md
  out/0.5/review/_issues/issues.codex.csv
  out/0.5/review/_summary/cross-cutting.codex.md
Owners: @lexlattice, @spec-guardian, @ci-sheriff

Deduplicate Jules 0.5 review bundle (#315)
  .gitignore
  README.md
  out/0.5/review-jules/A-LSP-DSL/docs.jules.md
  out/0.5/review-jules/B-Runtime/docs.jules.md
  out/0.5/review-jules/C-Trace-Perf/docs.jules.md
  out/0.5/review-jules/C-Trace-Perf/export.csv
  out/0.5/review-jules/C-Trace-Perf/summary.json
  out/0.5/review-jules/D-Optimizer/docs.jules.md
  out/0.5/review-jules/E-Proofs/docs.jules.md
  out/0.5/review-jules/F-DevEx-Release/release-readiness.jules.md
  out/0.5/review-jules/_issues/issues.jules.csv
  out/0.5/review-jules/_summary/0.5-overview.jules.md
  out1/0.5/docs/index.json
  out1/0.5/release/CHANGELOG.next.md
  out1/0.5/release/pack.json
  out1/t5/effects/orders.ndjson
  out1/t5/replay/frames.ndjson
  out1/t5/risk/evaluations.ndjson
  out1/t5/status.json
  packages/tf-check/schema/tf-spec.schema.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

clean-up
  out1/0.5/docs/index.json
  out1/0.5/release/CHANGELOG.next.md
  out1/0.5/release/pack.json
  out1/t5/effects/orders.ndjson
  out1/t5/replay/frames.ndjson
  out1/t5/risk/evaluations.ndjson
  out1/t5/status.json
Owners: @lexlattice, @spec-guardian, @ci-sheriff

.github/CODEOWNERS:

* @lexlattice @spec-guardian @ci-sheriff
packages/tf-l0-spec/** @spec-guardian
schemas/** @spec-guardian
packages/tf-l0-check/** @spec-guardian
.github/** @ci-sheriff
